html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem;
}
html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem;
}
.myAppDemoWT .myCustomText {
    display: inline-block;
    font-weight: bold;
}
.myCustomText{
    color: white;
}
.CustomImage{
    width: 100%;
    height: 300px;
    background-image: url('jato.jfif');
    background-size: cover;
}
.sapUiLargeMarginBottom {
    margin-bottom: 0 !important;
}
.sapUiLargeMarginTop {
    margin-top: 0rem !important;
}
/*  ProductRating */
.myAppDemoWTProductRating {
    padding: 0.75rem;
}
.myAppDemoWTProductRating .sapMRI {
    vertical-align: initial;
}